# Python files
.venv
*.pyc
/build/
/dist/
/tools/yyoomc
.coverage
*.egg-info

doc/source/sourcecode

# Metafiles
AUTHORS
ChangeLog
TAGS

# Backups
*_flymake.*
*~

# IDE files
.settings/
*.komodoproject
.metadata/
.project
.pydevproject

# PyCharm IDE files
.idea/
pycharm-debug.egg
pycharm-debug.py


# Temp and status files
*.db
.*.swp
*.log
*.pid
pidfile
.DS_Store
*.rc
.anvil_bootstrapped
.bootstrap
