[Unit]
Description=OpenStack $bin Server
After=syslog.target network.target

[Service]
Type=simple
User=$package
ExecStart=/usr/bin/$bin $daemon_args
StandardOutput=null
KillMode=$killmode

[Install]
WantedBy=multi-user.target

